<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ProfileSuite" parallel="false">

  <parameter name="login" value="SET_LOGIN"/>
  <parameter name="password" value="SET_PASSWORD"/>
  <parameter name="baseUrl" value="http://ok.ru"/>
  <parameter name="webdriver" value="chrome"/>
  
  <test name="ProfileTest">
    <classes>
      <class name="com.test.ProfileTest"/>
    </classes>
  </test>  
</suite>
